* { box-sizing: border-box;}

:root
{
    --track-color: #8d99ae;
}

input[type='range']
{
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100%; /* Specific width is required for Firefox. */
	background: transparent; /* Otherwise white in Chrome */
}

input[type='range']:focus
{
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}




/* Styling for WebKit/Blink */
input[type='range']::-webkit-slider-thumb
{
	-webkit-appearance: none;
	height: 8px;
	width: 8px;
	border-radius: 100%;
	background: #ffffff;
	cursor: pointer;
	margin-top: px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type='range']::-webkit-slider-thumb:hover
{
	height: 16px;
	width: 16px;
	margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type='range']::-webkit-slider-runnable-track
{
	width: 100%;
	height: 8px;
	cursor: pointer;
	background: var(--track-color);
	border-radius: 3px;
}

input[type='range']:focus::-webkit-slider-runnable-track
{
	background: var(--track-color);
}



/* Styling for Firefox */
input[type='range']::-moz-range-thumb
{
	border: 0;
	height: 8px;
	width: 8px;
	border-radius: 100%;
	background: #ffffff;
	cursor: pointer;
}

input[type='range']::-moz-range-thumb:hover, input[type='range']::-moz-range-thumb:active
{
	height: 16px;
	width: 16px;
}

input[type='range']::-moz-range-track
{
	width: 100%;
	height: 8px;
	cursor: pointer;
    background: var(--track-color);
    border-radius: 3px;
}





/* Styling for IE */
input[type='range']::-ms-track
{
	width: 100%;
	cursor: pointer;

	/* Hides the slider so custom styles can be added */
	background: var(--track-color);
	color: transparent;
}

input[type='range']::-ms-thumb
{
    margin-top: 0.5px;
	height: 8px;
	width: 8px;
	border-radius: 100%;
	background: #ffffff;
	cursor: pointer;
}

input[type='range']::-ms-thumb:hover, input[type='range']::-ms-thumb:active
{
	height: 16px;
	width: 16px;
}

input[type='range']::-ms-fill-lower
{
	background: #8d99ae;
    border-radius: 3px 0px 0px 3px;
    padding-right: -2px;
}
input[type='range']:focus::-ms-fill-lower
{
	background: #8d99ae;
}
input[type='range']::-ms-fill-upper
{
	background: #8d99ae;
	border-radius: 0px 3px 3px 0px;
    padding-left: -2px;
}
input[type='range']:focus::-ms-fill-upper
{
	background: #8d99ae;
}
